@page
@using Microsoft.Extensions.Localization
@using Dyabp.Saas.Localization
@model Dyabp.Saas.Web.Pages.Saas.IndexModel
@inject IStringLocalizer<SaasResource> L
@{
}
<h1>Saas</h1>
<p>@L["SamplePageMessage"]</p>
